<% content_for :title, t('data_sources.new.title') %>

<h1><%= t('data_sources.new.title') %></h1>

<%= render "form", data_source: @data_source %>

<br>

<div>
  <%= link_to t('data_sources.new.back'), data_sources_path %>
</div>
