<div class="modal fade" id="newUserGroupModal" tabindex="-1" aria-labelledby="newUserGroupModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newUserGroupModalLabel">Neue Gruppe erstellen</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render "form_fields", user_group: UserGroup.new %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
        <button type="submit" class="btn btn-primary" form="new_user_group_form">Erstellen</button>
      </div>
    </div>
  </div>
</div>
