<% content_for :title, "Gruppen" %>

<div class="container-fluid py-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1>Gruppen</h1>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newUserGroupModal">
      <i class="bi bi-plus-circle"></i> Neue Gruppe
    </button>
  </div>

  <div class="card">
    <div class="card-body">
      <%= turbo_frame_tag "user_groups_table" do %>
        <%= render "table", user_groups: @user_groups %>
      <% end %>
    </div>
  </div>
</div>

<%= turbo_frame_tag "modal", data: { controller: "modal-frame" } do %>
  <%= render "modal" %>
<% end %>
