<% content_for :title, t('user_groups.new.page_title') %>

<div class="container-fluid py-4">
  <h1><%= t('user_groups.new.title') %></h1>
  <%= render "form_fields", user_group: @user_group %>
  <div class="mt-3">
    <%= link_to t('common.buttons.back'), user_groups_path, class: "btn btn-secondary" %>
  </div>
</div>
