<% content_for :title, t('users.edit.title') %>

<h1><%= t('users.edit.heading') %></h1>

<%= render "form", user: @user %>

<br>

<div>
  <%= link_to t('users.show.title'), @user %> |
  <%= link_to t('users.edit.back'), users_path %>
</div>
