<% content_for :title, "Benutzer" %>

<div class="container-fluid py-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1>Benutzer</h1>
  </div>

  <div class="card">
    <div class="card-body">
      <%= turbo_frame_tag "users_table" do %>
        <%= render "table", users: @users %>
      <% end %>
    </div>
  </div>
</div>

<%= turbo_frame_tag "modal", data: { controller: "modal-frame" } do %>
<% end %>
