<% content_for :title, t('widgets.index.title') %>

<div class="container-fluid py-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="mb-0">
      <i class="bi bi-grid me-2"></i>
      <%= t('widgets.index.title') %>
    </h1>
    <%= link_to new_widget_path, data: { turbo_frame: "widget_modal", turbo_prefetch: false }, class: "btn btn-primary" do %>
      <i class="bi bi-plus-circle"></i> <%= t('widgets.index.new_widget') %>
    <% end %>
  </div>

  <div id="widgets_list">
    <%= render "index_content" %>
  </div>
</div>

<turbo-frame id="widget_modal"></turbo-frame>
