<% content_for :title, "#{@dashboard.name} - #{t('dashboards.edit.heading')}" %>

<div class="row justify-content-center">
  <div class="col-lg-6 col-md-8">
    <div class="mb-4">
      <%= link_to @dashboard, class: "btn btn-outline-secondary btn-sm" do %>
        <i class="bi bi-arrow-left me-1"></i><%= t('dashboards.edit.back') %>
      <% end %>
    </div>

    <div class="card">
      <div class="card-header">
        <h4 class="mb-0">
          <i class="bi bi-pencil me-2"></i>
          <%= t('dashboards.edit.heading') %>
        </h4>
      </div>
      <div class="card-body">
        <%= render "form", dashboard: @dashboard %>
      </div>
    </div>
  </div>
</div>
